@page "/"
@namespace MjrChess.Trainer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess Trainer</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="app.bundle.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <!-- Toast notification divs -->
    <div id="PrimaryNotifier" class="mdc-snackbar mdc-snackbar--stacked">
        <div class="mdc-snackbar__surface">
            <div id="PrimaryNotifierLabel" class="mdc-snackbar__label"
                 role="status"
                 aria-live="polite">
            </div>
            <div class="mdc-snackbar__actions">
                <button type="button" class="mdc-button mdc-snackbar__dismiss">
                    Ok
                </button>
            </div>
        </div>
    </div>
    <div id="CopyNotifier" class="mdc-snackbar mdc-snackbar--stacked">
        <div class="mdc-snackbar__surface">
            <div id="CopyNotifierLabel" class="mdc-snackbar__label"
                 role="status"
                 aria-live="polite">
            </div>
            <div class="mdc-snackbar__actions">
                <button id="CopyButton" type="button" class="mdc-button mdc-snackbar__action">
                    Copy
                </button>
                <button type="button" class="mdc-button mdc-snackbar__dismiss">
                    Ok
                </button>
            </div>
        </div>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="app.bundle.js"></script>
</body>
</html>
