@page "/"

@using  MjrChess.Trainer.Components;

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
            <PuzzleHistoryList />
        </div>
        <ChessPuzzle />
    </div>
</div>

@code {
    public static Dictionary<string, object> GetLayoutParameters() =>
        new Dictionary<string, object>()
        {
            { "NavCommandButtons", NavCommandButtons }
        };

    public static RenderFragment NavCommandButtons
    {
        get
        {
            return new RenderFragment(builder =>
            {
                builder.OpenComponent<MainCommandButtons>(0);
                builder.CloseComponent();
            });
        }
    }
}