@inherits ChessBoardBase

<div class="boardContainer">
    <img 
         id="@ElementName" 
         class="board" 
         src="images/board.svg" 
         @onmousedown="HandleMouseDown" 
         @onmouseup="HandleMouseUp"
         />
    @foreach (var piece in Game.Pieces)
    {
        if (piece.Position == null)
        {
            continue;
        }
        <ChessPieceComponent File="piece.Position.File" Rank="piece.Position.Rank" PieceType="piece.PieceType" />
    }
    @foreach (var legalMove in LegalMovesForSelectedPiece)
    {
        <SquareDecorator File="legalMove.FinalPosition.File" Rank="legalMove.FinalPosition.Rank" ImageName="LegalMove" />
    }
    @if (SelectedPiece != null)
    {
        <SquareDecorator File="SelectedPiece.Position.File" Rank="SelectedPiece.Position.Rank" ImageName="SelectedSquare" />
    }
    @if (Game.Check)
    {
        var checkedKing = Game.Pieces.Single(p => p.PieceType == (Game.WhiteToMove ? ChessPieces.BlackKing : ChessPieces.WhiteKing));
        <SquareDecorator File="checkedKing.Position.File" Rank="checkedKing.Position.Rank" ImageName="Check" />
    }
</div>
