@inherits ChessBoardBase

<div class="boardContainer">
    <img 
         id="@ElementName" 
         class="board" 
         src="images/board.svg" 
         @onmousedown="HandleMouseDown" 
         @onmouseup="HandleMouseUp"
         />
    @foreach (var piece in Game.Pieces)
    {
        if (!piece.File.HasValue || !piece.Rank.HasValue)
        {
            continue;
        }
        <ChessPieceComponent File="piece.File.Value" Rank="piece.Rank.Value" PieceType="piece.PieceType" />
    }
    @foreach (var legalMove in Game.LegalMovesForSelectedPiece)
    {
        <LegalMove File="legalMove.FinalFile" Rank="legalMove.FinalRank" />
    }
</div>
