@inherits ChessBoardBase

<div class="boardContainer">
    <img 
         id="@ElementName" 
         class="board" 
         src="images/board.svg" 
         @onmousedown="HandleMouseDown" 
         @onmouseup="HandleMouseUp"
         />
    @foreach (var piece in Pieces)
    {
        <ChessPiece File="piece.File" Rank="piece.Rank" PieceType="piece.PieceType" />
    }
    @foreach (var legalMove in LegalMovesForSelectedPiece)
    {
        <LegalMove File="legalMove.FinalFile" Rank="legalMove.FinalRank" />
    }
</div>
