@inherits ChessBoardBase

<div class="boardContainer">
    <img 
         id="@ElementName" 
         class="board" 
         src="images/board.svg" 
         @onmousedown="HandleMouseDown" 
         @onmouseup="HandleMouseUp"
         />
    @foreach (var piece in Game.Pieces)
    {
        if (!piece.File.HasValue || !piece.Rank.HasValue)
        {
            continue;
        }
        <ChessPieceComponent File="piece.File.Value" Rank="piece.Rank.Value" PieceType="piece.PieceType" />
    }
    @foreach (var legalMove in Game.LegalMovesForSelectedPiece)
    {
        <SquareDecorator File="legalMove.FinalFile" Rank="legalMove.FinalRank" ImageName="LegalMove" />
    }
    @if (Game.SelectedPiece != null)
    {
        <SquareDecorator File="Game.SelectedPiece.File.Value" Rank="Game.SelectedPiece.Rank.Value" ImageName="SelectedSquare" />
    }
    @if (Game.Check)
    {
        var checkedKing = Game.Pieces.Single(p => p.PieceType == (Game.WhiteToMove ? ChessPieces.BlackKing : ChessPieces.WhiteKing));
        <SquareDecorator File="checkedKing.File.Value" Rank="checkedKing.Rank.Value" ImageName="Check" />
    }
</div>
