@inherits ChessBoardBase

<PlayerStatus WhitePlayer="false" Game="Game" />
<div class="boardContainer">
    <img id="@ElementName"
         class="board"
         src="images/board.svg"
         @onmousedown="HandleMouseDown"
         @onmouseup="HandleMouseUp" />
    @foreach (var piece in Game.Pieces)
    {
        if (piece.Position == null)
        {
            continue;
        }
        <ChessPieceComponent File="piece.Position.File" Rank="piece.Position.Rank" PieceType="piece.PieceType" />
    }
    @foreach (var legalMove in LegalMovesForSelectedPiece)
    {
        <SquareDecorator File="legalMove.FinalPosition.File" Rank="legalMove.FinalPosition.Rank" ImageName="LegalMove" />
    }
    @if (SelectedPiece != null)
    {
        <SquareDecorator File="SelectedPiece.Position.File" Rank="SelectedPiece.Position.Rank" ImageName="Highlight" />
    }
    @if (LastMove != null)
    {
        <SquareDecorator File="LastMove.OriginalPosition.File" Rank="LastMove.OriginalPosition.Rank" ImageName="Highlight" />
        <SquareDecorator File="LastMove.FinalPosition.File" Rank="LastMove.FinalPosition.Rank" ImageName="Highlight" />
    }
    @if (Game.Check)
    {
        var checkedKing = Game.Pieces.Single(p => p.PieceType == (Game.WhiteToMove ? ChessPieces.WhiteKing : ChessPieces.BlackKing));
        <SquareDecorator File="checkedKing.Position.File" Rank="checkedKing.Position.Rank" ImageName="Check" />
    }
</div>
<PlayerStatus WhitePlayer="true" Game="Game" />
<GameDetails Game="Game" />
