@inject NavigationManager NavManager

<button class="mdc-icon-button" aria-label="Source on GitHub" @onclick="NavigateToSource">
    <i class="fas fa-code-branch"></i>
</button>

@code {
    void NavigateToSource()
    {
        NavManager.NavigateTo("https://github.com/mjrousos/ChessTrainer");
    }
}
