@using MjrChess.Trainer.BlazorExtensions

@inherits MaterialDesignComponentBase

<h2 mdc-typography mdc-typography--headline6>History</h2>
<ol>
    <li>Puzzle 1</li>
    <li>Puzzle 2</li>
    <li>Puzzle 3</li>
</ol>
