$mdc-theme-primary: #2e7d32; // Green 500
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: #424242;
$mdc-theme-on-secondary: #ffffff; // Grey 800
$mdc-theme-surface: #fdfefb;
$mdc-theme-background: #424242;
/*$mdc-theme-on-surface: #000000;
$mdc-theme-on-background: #000000;*/
