@import "./variables";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";

/* Make sure the app bar shows over the menu drawer */
.mdc-top-app-bar {
    z-index: 7;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.mdc-top-app-bar__title a {
    color: white;
    text-decoration: none;
}

/* Make sure elements that act as link have a matching cursor */
.link:hover {
    cursor: pointer;
}

body {
    height: 100vh;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
